<div class="form-container">
  <form (ngSubmit)="save()" [formGroup]="registerForm">
    <div class="container">
      <mat-form-field class="firstName">
        <mat-label for="firstName">Enter your name</mat-label>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          matInput
        />
       
        <mat-error
          *ngIf="
            registerForm.get('firstName')?.invalid &&
            (registerForm.get('firstName')?.touched ||
              registerForm.get('firstName')?.dirty)
          "
          > {{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="surame">
        <mat-label for="surname">Enter your surname</mat-label>
        <input id="surname" type="text" formControlName="surname" matInput />
        <mat-error
          *ngIf="
            registerForm.get('surname')?.invalid &&
            (registerForm.get('surname')?.touched ||
              registerForm.get('surname')?.dirty)
          "
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>

      <div formGroupName="registerEmailGroup">
        <mat-form-field appearance="fill">
          <mat-label for="email">Enter your email</mat-label>
          <input
            id="email"
            type="email"
            matInput
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              registerForm.get('registerEmailGroup.email')?.invalid &&
              (registerForm.get('registerEmailGroup.email')?.touched ||
                registerForm.get('registerEmailGroup.email')?.dirty)
            "
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="confirmEmail">Confirm your email</mat-label>
          <input
            id="confirmEmail"
            type="email"
            matInput
            formControlName="confirmEmail"
            required
          />
          <mat-error
            *ngIf="
              registerForm.get('registerEmailGroup') ||
              (registerForm.get('registerEmailGroup.confirmEmail')?.invalid &&
                (registerForm.get('registerEmailGroup.confirmEmail')?.touched ||
                  registerForm.get('registerEmailGroup.confirmEmail')?.dirty))
            "
            >{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="registerPasswordGroup">
        <mat-form-field appearance="fill">
          <mat-label for="password">Enter your password</mat-label>
          <input
            type="password"
            id="password"
            matInput
            formControlName="password"
            required
          />
          <mat-error
            *ngIf="
              registerForm.get('registerPasswordGroup.password')?.invalid &&
              (registerForm.get('registerPasswordGroup.password')?.touched ||
                registerForm.get('registerPasswordGroup.password')?.dirty)
            "
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="confirmPassword">Confirm your password</mat-label>
          <input
            type="password"
            id="confirmPassword"
            matInput
            formControlName="confirmPassword"
            required
          />
          <mat-error
            *ngIf="registerForm.get('registerPasswordGroup') ||
              (registerForm.get('registerPasswordGroup.confirmPassword')?.invalid &&
              (registerForm.get('registerPasswordGroup.confirmPassword')?.touched ||
                registerForm.get('registerPasswordGroup.confirmPassword')?.dirty))
            "
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        [disabled]="registerForm.invalid"
        type="submit"
      >
        Register
      </button>
    </div>
  </form>
</div>

<br />Dirty: {{ registerForm.dirty }} <br />Touched: {{ registerForm.touched }}
<br />Valid: {{ registerForm.valid }} <br />Value:
{{ registerForm.value | json }} <br/> {{ getErrorMessage() }}



