<div class="navbar-container">
    <mat-toolbar color="accent">
      <button mat-icon-button class="navbar-item" aria-label="Example icon-button with share icon" routerLink="/home">
        Home
      </button>
      <button mat-icon-button class="navbar-item" aria-label="Example icon-button with share icon" routerLink="/your-movies">
        Your movies
      </button>
      <button mat-icon-button class="navbar-item" aria-label="Example icon-button with share icon" routerLink="/profile">
        Profile
      </button>
      <button mat-icon-button class="navbar-item" id="logout" aria-label="Example icon-button with share icon" (click)="logout()" routerLink="/welcome">
        Log Out
      </button>
    </mat-toolbar>
</div>
