.navbar-container {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    margin:auto;
    width: 80%;
    
}

.navbar-item {
    width: 150px;
}

.mat-toolbar.mat-accent {
    border-radius: 20px;
    background: #363636;
}