<div class="form-container">
  <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label for="email">Enter your email</mat-label>
        <input
          id="email"
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"

        />
        <mat-error *ngIf="signinForm.get('email')?.invalid &&
        (signinForm.get('email')?.touched ||
          signinForm.get('email')?.dirty)">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="password">Enter your password</mat-label>
        <input
          type="password"
          id="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="signinForm.get('password')?.invalid &&
        (signinForm.get('password')?.touched ||
          signinForm.get('password')?.dirty)">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="signinForm.invalid" type="submit">Sign In</button>
    </div>
  </form>
</div>
<app-button class="register-btn" text="Register" routerLink="/register"></app-button>
