<app-navbar></app-navbar>
<div class="main-container">
  <h2 class="home-name">Available Movies</h2>
  <div class="home-container">
    <table id="home-table">
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Price for 12h</th>
        <th>Is in stock</th>
      </tr>
      <tr id="movie-row" *ngFor="let movie of movies">
        <td>{{ movie.title }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.price }}</td>
        <td class="check">
          <img class="check-img" src="../../../assets/images/check.png" />
        </td>
        <app-button class="button-rent" text="Rent">Rent</app-button>
      </tr>
    </table>
  </div>
</div>
