.home-container {
    background-color: white;
}
table {
    width: 100%;
    margin: 2em auto;
    border-collapse: separate;
    border-spacing: 0 1em;
    
    border-radius: 25px;
    padding: 3em;
} 
th,
td {
    text-align: left;
    padding-inline: 2em;
}

.check-img {
    margin-left:1.5em;    
    height: 1.5em;
    width: 1.5em;
}

