<div class="home-container">
  <table>
    <tr id="movie-row">
      <td>{{ yourMovie.title }}</td>
      <td>{{ yourMovie.genre }}</td>
      <td>
        <span class="sign prev" (click)="removeTime()">&#60;</span
        ><span class="time" id="time"> {{ time }} </span
        ><span class="sign next" id="next" (click)="addTime()">&#62;</span>
      </td>
      <td>{{ newPrice | currency }}</td>

      <app-button
        (click)="removeMovie(yourMovie)"
        class="button-rent"
        text="Remove"
      ></app-button>
    </tr>
  </table>
</div>
