<div class="home-container">

    <div class="movie-row">
      <div class="row-item">{{ yourMovie.title }}</div>
      <div class="row-item">{{ yourMovie.genre }}</div>
      <div class="row-item">
        <span class="sign prev" (click)="removeTime()">&#60;</span
        ><span class="time" id="time"> {{ time }} </span
        ><span class="sign next" id="next" (click)="addTime()">&#62;</span>
      </div>
      <div class="row-item">{{ newPrice | currency }}</div>
      <div class="row-item"> <app-button
        (click)="removeMovie(yourMovie)"
        class="button-rent"
        text="Remove"
      ></app-button></div>
      
    </div>

</div>
